

.bg-color-blue {
	background-color: #1ABAD6;
}

.h-11-12 {
	height: 95%;
	width: 95%;
}

.container-form {
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 30px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.container-form-scroll{
	overflow-y: scroll;
  
}
.container-form-scroll-x{
	overflow-x: scroll;
  
}

.text-term-cond {
	color: #17AACA;
font-family: var(--font);
font-size: 12.64px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.text-accept {
	color: #727272;
font-family: var(--font);
font-size: 12.64px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.subtitle-form {
	color: var(--type-light, #89868D);
font-family: var(--font);
font-size: 12.64px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.title-form {
	color: var(--light-version-type-text, #000);
	font-family: var(--font);
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text-files-upload {
	color: var(--type-light, #89868D);
font-family: var(--font);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.input-files {
	padding-top: 0rem;
  border-radius: 8px;
border: 1px solid var(--surface-border, #DBDCDE);
background: var(--surface-background, #F4F5F9);
}
.input-text-form-register {
	
	padding-top: 0.375rem;
  border-radius: 8px;
border: 1px solid var(--surface-border, #DBDCDE);
background: var(--surface-background, #F4F5F9);
}
.input-checkbox-form-register {
	
	padding-top: 0.375rem;
  border-radius: 2px;
border: 1px solid var(--surface-border, #a7a9ac);
background: var(--surface-background, #F4F5F9);
}

.label-form-register {
	padding-top: 0.375rem;
	color: var(--type-dark, #3A3541);
font-family: var(--font);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.forgotten-password-form {
	color: #1ABAD6;
font-family: var(--font);
font-size: 14.22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.bt-omitir {
	display: flex;
width: 113px;
height: 46px;
padding: 12px 33px 13px 32px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
background: #DADBDD;
}
.bg-form {
	background: var(--surface-background, #F4F5F9);
}

.bt-form-login {
	display: flex;
height: 46px;
padding: 12px 90px 13px 90px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
background: #1ABAD6;
color: var(--surface-white, #FFF);
text-align: center;
font-family: var(--font);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.bt-form-login-otherplataform {
height: 46px;
padding: 12px 40px 13px 40px;
flex-shrink: 0;
border-radius: 24px;
border: 1px solid var(--surface-border, #DBDCDE);
background: var(--surface-white, #FFF);
color: var(--type-dark, #3A3541);
font-family: var(--font);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.text-register {
	display: inline-flex;

justify-content: center;
align-items: center;
gap: 10px;
color: #1ABAD6;
}

.no-account {
	
	color: var(--type-light, #89868D);
font-family: var(--font);
font-size: 14.22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.text-information-form {
	color: var(--surface-white, #FFF);
/* Display/text large */
font-family: var(--font);
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.container-information {
	border-radius: 20px;
background: var(--background-container-inf);
}

.vector-vertical{
	width: 0px;
height: 171px;
flex-shrink: 0;
	stroke-width: 1px;
stroke: var(--surface-background, #F4F5F9);
}

@media (min-width: 1030px) {
	.text-information-form {
		font-size: 35px;
		font-style: normal;
		font-weight: 300;
	}
	.text-large {
		font-size: 30px;
	}
}
@media (max-width: 1029px) {
	.text-information-form {
		font-size: 30px;
		font-style: normal;
		font-weight: 400;
	}
	.text-large {}
}

@media (max-width: 900px) {
	.text-information-form {
		font-size: 30px;
		font-style: normal;
		font-weight: 200;
	}
	.text-large {
		font-size: 26px;
	}
}


